*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

input {
  all: unset;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.button:hover {
  text-decoration: underline;
}

.content {
  margin-top: 135px;
  display: flex;
  align-items: end;
  gap: 31px;
}

.result__video-container {
  width: 711px;
  height: 385px;
}


.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  margin-top: 17px;
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  background-color: transparent;
  word-spacing: -0.2em;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 3px;
}

.search-form__textfield:active {
  outline: none;
  border:1px solid #fff;
  }

.search-form__textfield:focus-visible {
  outline-offset:1px;
  outline: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor:text;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
}

input[type="checkbox"]:checked + span {
  background-color: #fff;
  outline-offset: -2px;
  outline: 1px solid #1b1919;
}

.search-form__label {
  cursor: pointer;
}

input[type="checkbox"]:focus-visible + span:before {
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -47px;
  border: 1px solid #fff;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:hover {
  border:1px solid #fff;
}

.search-form__submit-button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.more-button {
  width: 399px;
  height: 34px;
}

.content__details {
  width: 399px;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  padding-top: 6px;
  padding-left: 1px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  margin-top: 22px;
  height: 298px;
  overflow: auto;
  padding-right: 3px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description-container:active {
  background-color: #545050;
}

.content__video-card-description {
  margin-top: 6px;
  line-height: 16.2px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  margin-left: 3px;
}

.content__video-card:first-child {
  margin-top: 3px;
}

.content__list-item {
  margin-bottom: 30px;
  align-items: start;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

