*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

input {
  all: unset;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.button {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
}

.content {
  margin-top: 135px;
  display: flex;
  align-items: end;
  gap: 31px;
}

.result {
  
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 385px;
}


.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  margin-top: 17px;
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 3px 0 0 0;
  margin-bottom: 4px;
}

.search-form__checkbox-list {
  /* display:flex;
  justify-content: space-between; */
}

/* .search-form__label-text {
  position: relative;
} */

.search-form__pseudo-checkbox::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.more-button {
  width: 399px;
  height: 34px;
}

.content__details {
  width: 399px;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  margin-top: 26px;
  height: 298px;
  overflow: auto;
}

.content__video-card-description-container {
 flex-grow: 1;
}

.content__video-card-description {
  margin-top: 6px;
  line-height: 16.2px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}


.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__list-item {
  margin-bottom: 30px;
  align-items: start;
}
.content__list-item:last-child {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.5);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

